version: "3.9"

services:
  frontend:
    container_name: chamanoespeto-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - api
    restart: always

  api:
    container_name: chamanoespeto-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/uploads:/app/uploads
    ports:
      - "4000:4000"
    depends_on:
      - postgres
    restart: always

  postgres:
    container_name: chamanoespeto-postgres
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: espetinho
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./backend/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    restart: always

  pgadmin:
    container_name: chamanoespeto-pgadmin
    image: dpage/pgadmin4:8.13
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@chamanoespeto.com
      PGADMIN_DEFAULT_PASSWORD: ChamaNoEspeto20025#!
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: always

volumes:
  postgres-data:
