version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: espetinho-frontend
    ports:
      - "8080:80"
    depends_on:
      - api
    restart: always

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: espetinho-api
    environment:
      PGHOST: postgres
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: espetinho
      PORT: 4000
    ports:
      - "4000:4000"
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:16
    container_name: espetinho-db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: espetinho
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./backend/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    restart: always

  pgadmin:
    build:
      context: .
      dockerfile: Dockerfile.pgadmin
    container_name: espetinho-pgadmin
    ports:
      - "5050:80"
    restart: always

volumes:
  postgres-data:
